<div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <span >Доход</span>
        </div>
        <div class="col-md-4">
            <span>{{ income }}</span>
        </div>

        <div class="col-md-8 text-center">
            <span>Нераспределенные деньги</span>
        </div>
        <div class="col-md-4">
            <span>{{ available_amount }}</span>
        </div>

        <div class="col-md-8 text-center">
            <span>Должно быть накопленно в конвертах</span>
        </div>
        <div class="col-md-4">
            <span>{{ total_envelopes }}</span>
        </div>

        <div class="col-md-8 text-center">
            <span>Сумма ежемесячного пополнения конвертов</span>
        </div>
        <div class="col-md-4">
            <span>{{ total_envelopes_monthly }}</span>
        </div>


        <div class="col-md-8 text-center">
            <span>Сумма постоянных расходов</span>
        </div>
        <div class="col-md-4">
            <span>{{ total_regular }}</span>
        </div>
</div>