{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="container">
        <div class="row mg-top">
            <div class="col-md-4 col-md-offset-4">
                {% block header %}<h4 class="text-center">{% translate "Update the income" %}</h4>{% endblock header %}
                <form action="" method="post">
                {% csrf_token %}
                    {% include 'incomes/income_form.html' %}
                </form>
            </div>
        </div>
    </div>

{% endblock content %}